

<div id = "about" class="about clearfix">
	<!-- Paragraph about self being human -->
	<!-- consider adding book currently reading, music currently into -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magnam nesciunt cupiditate quam facilis! Quisquam, aspernatur, quis beatae accusamus maxime placeat cupiditate cumque odit similique repellat et blanditiis eligendi enim.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, natus facere impedit voluptates hic iusto sint fugiat. Ratione, molestias, vel consequuntur error id similique fuga eaque cupiditate fugiat dolorem dicta?</p>

	<ul>
	<li>
		<%=render 'layouts/music-icon'%>
		<h3>Current favourite song:<span class="item-title">Jefferson Starship-Jane</span></h3>
	</li>
		<li>
			<%=render 'layouts/hand-icon'%>
			<h3>Lefty</h3>
		</li>
		<li>
			<%= link_to image_tag("left-guitar.png", alt: "onePageWebsite", :class=>'icon')%>
			<h3>Guitar player</h3>
			</li>
		<li>
			<%=render 'layouts/dog-icon'%>
			<h3>Dog Lover</h3>
		</li>
		<li>
			<%=render 'layouts/book-icon'%>
			<h3>Currently reading: <span class="item-title">Yes is the Answer</span></h3>
		</li>


	</ul>
</div>

<!-- Skills section -->
	<div id="skills" class="skills">
	<ul>
		<li class="big-circle">
			<h2>I wear many hats</h2>
			<%=render 'layouts/svgLarge' %>
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
			<div class="line4"></div>

			<ul>
				<li class="med-circle1">
					<h3>Frontend</h3>
					<%=render 'layouts/svgMedium'%>
					<ul>
						<li class="small-circle1">
							<h3>HTML</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line5"></div>
						</li>
						<li class="small-circle2">
							<h3>CSS/SASS</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line6"></div>
						</li>
							<li class="small-circle3">
								<h3>JavaScript</h3>
								<%=render 'layouts/svgSmall' %>
								<div class="line7"></div>
						</li>
					</ul>
				</li>

				<li class="med-circle2">
					<h3>Backend</h3>
					<%=render 'layouts/svgMedium'%>
					<ul>
						<li class="small-circle4">
							<h3>Java</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line8"></div>
						</li>
						<li class="small-circle5">
							<h3>Python</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line9"></div>
						</li>
						<li class="small-circle6">
							<h3>NodeJs</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line10"></div>
						</li>
					</ul>
				</li>
				<li class="med-circle3">
					<h3>Databases</h3>
					<%=render 'layouts/svgMedium'%>
					<div class="line11"></div>
					<ul>
						<li class="small-circle7">
							<h3>MongoDB</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line12"></div>
						</li>
						<li class="small-circle8">
							<h3>Microsoft SQL Server</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line13"></div>
						</li>
					</ul>
				</li>
				<li class="med-circle4">
					<h3>Tools</h3>
					<%=render 'layouts/svgMedium'%>
					<div class="line14"></div>
					<ul>
						<li class="small-circle9">
							<h3>Bower</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line15"></div>
						</li>
						<li class="small-circle10">
							<h3>Yeoman</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line16"></div>
						</li>
						<li class="small-circle11">
							<h3>Grunt</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line17"></div>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>

<!-- Portfolio Section -->
<div id="portfolio" class="portfolio clearfix">
<div class="title">Portfolio</div>
<ul>
		<li class="item">
			<%= link_to image_tag("spinThatTrack.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wisamzaghal.herokuapp.com'%>
			<div class="info">
				<h3>One Page Website</h3>
				<ul class="tags">
					<li>HTML</li>
					<li>CSS</li>
				</ul>
			</div>
		</li>
		<li class="item">
			<%= link_to image_tag("spinThatTrack.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wisamzaghal.herokuapp.com'%>
			<div class="info">
				<h3>Movie Word Replacer</h3>
				<ul class="tags">
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Yeoman</li>
					<li>Grunt</li>
					<li>Bower</li>
				</ul>
			</div>
		</li>
		<li class="item">
			<%= link_to image_tag("spinThatTrack.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wisamzaghal.herokuapp.com'%>
			<div class="info">
				<h3>Album Player</h3>
				<ul class="tags">
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Yeoman</li>
					<li>Grunt</li>
					<li>Bower</li>
				</ul>
			</div>
		</li>
		<li class="item">
			<%= link_to image_tag("spinThatTrack.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wisamzaghal.herokuapp.com'%>
			<div class="info">
				<h3>API Forms</h3>
				<ul class="tags">
					<li>NodeJs</li>
					<li>Express</li>
					<li>MongoDB</li>
				</ul>
			</div>
		</li>
		<li class="item">
			<%= link_to image_tag("spinThatTrack.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wisamzaghal.herokuapp.com'%>
			<div class="info">
				<h3>API Forms</h3>
				<ul class="tags">
					<li>HTML</li>
					<li>SASS</li>
					<li>JavaScript</li>
					<li>Yeoman</li>
					<li>Grunt</li>
					<li>Bower</li>
				</ul>
			</div>
		</li>
		<li class="item">
			<%= link_to image_tag("spinThatTrack.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wisamzaghal.herokuapp.com'%>
			<div class="info">
				<h3>Billboard Project</h3>
				<ul class="tags">
					<li>Python</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<button>Resume</button>

<!-- Mentor/ Competitions -->
<div id="other-work" class="other-work clearfix">
	<ul>
		<li>Startup Weekend Toronto Maker Edition</li>
		<li>Startup Weekend Toronto Tech for Good</li>
		<li>Competed in BattleHack</li>
		<li>Ladies Learning Code Mentor</li>

		<li>Link to next Meetup</li>
	</ul>
</div>

<!-- Contact -->



