

<div class="about">
<h3 class="titleUrl">About</h3>
	<!-- Paragraph about self being human -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magnam nesciunt cupiditate quam facilis! Quisquam, aspernatur, quis beatae accusamus maxime placeat cupiditate cumque odit similique repellat et blanditiis eligendi enim.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, natus facere impedit voluptates hic iusto sint fugiat. Ratione, molestias, vel consequuntur error id similique fuga eaque cupiditate fugiat dolorem dicta?</p>
</div>

<!-- Skills section -->
	<div class="skills">
	<h3 class="title">Skill</h3>
	<ul>
		<li class="big-circle">
			<h2>I wear many hats</h2>
			<%=render 'layouts/svgLarge' %>
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
			<div class="line4"></div>

			<ul>
				<li class="med-circle1">
					<h3>Frontend</h3>
					<%=render 'layouts/svgMedium'%>
					<ul>
						<li class="small-circle1">
							<h3>HTML</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line5"></div>
						</li>
						<li class="small-circle2">
							<h3>CSS/SASS</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line6"></div>
						</li>
							<li class="small-circle3">
								<h3>JavaScript</h3>
								<%=render 'layouts/svgSmall' %>
								<div class="line7"></div>
						</li>
					</ul>
				</li>

				<li class="med-circle2">
					<h3>Backend</h3>
					<%=render 'layouts/svgMedium'%>
					<ul>
						<li class="small-circle4">
							<h3>Java</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line8"></div>
						</li>
						<li class="small-circle5">
							<h3>Python</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line9"></div>
						</li>
						<li class="small-circle6">
							<h3>NodeJs</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line10"></div>
						</li>
					</ul>
				</li>
				<li class="med-circle3">
					<h3>Databases</h3>
					<%=render 'layouts/svgMedium'%>
					<ul>
						<li class="small-circle7">
							<h3>MongoDB</h3>
							<%=render 'layouts/svgSmall' %>
						</li>
						<li class="small-circle8">
							<h3>Microsoft SQL Server</h3>
							<%=render 'layouts/svgSmall' %>
						</li>
					</ul>
				</li>
				<li class="med-circle4">
					<h3>Tools</h3>
					<%=render 'layouts/svgMedium'%>
					<ul>
						<li class="small-circle9">
							<h3>Bower</h3>
							<%=render 'layouts/svgSmall' %>
						</li>
						<li class="small-circle10">
							<h3>Yeoman</h3>
							<%=render 'layouts/svgSmall' %>
						</li>
						<li class="small-circle11">
							<h3>Grunt</h3>
							<%=render 'layouts/svgSmall' %>
						</li>
					</ul>				
				</li>
			</ul>
		</li>
	</ul>
</div>

<!-- Portfolio Section -->
<div class="portfolio">
<div class="title">Portfolio</div>
<ul>
		<li>
			<h3>One Page Website</h3>
			<img src="http://placehold.it/400x300" alt="">
			<ul class="tags">
				<li>HTML</li>
				<li>CSS</li>
			</ul>
		</li>
		<li>
			<h3>Movie Word Replacer</h3>
			<img src="http://placehold.it/400x300" alt="">
			<ul class="tags">
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>Yeoman</li>
				<li>Grunt</li>
				<li>Bower</li>
			</ul>
		</li>
		<li>
			<h3>Album Player</h3>
			<img src="http://placehold.it/400x300" alt="">
			<ul class="tags">
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>Yeoman</li>
				<li>Grunt</li>
				<li>Bower</li>
			</ul>
		</li>
		<li>
			<h3>API Forms</h3>
			<img src="http://placehold.it/400x300" alt="">
			<ul class="tags">
				<li>NodeJs</li>
				<li>Express</li>
				<li>MongoDB</li>
			</ul>
		</li>
		<li>
			<h3>Music Quiz</h3>
			<img src="http://placehold.it/400x300" alt="">
			<ul class="tags">
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>Yeoman</li>
				<li>Grunt</li>
				<li>Bower</li>
			</ul>
		</li>
		<li>
			<h3>Billboard Project</h3>
			<img src="http://placehold.it/400x300" alt="">
			<ul class="tags">
				<li>Python</li>
			</ul>
		</li>
	</ul>
</div>

<!-- Mentor/ Competitions -->
<ul>
	<li>
		<h3>thing</h3>
		<p></p>
		<img src="" alt="">
	</li>
	<li>
		<h3>thing</h3>
		<p></p>
		<img src="" alt="">
	</li>
	<li>
		<h3>thing</h3>
		<p></p>
		<img src="" alt="">
	</li>
	<li>
		<h3>thing</h3>
		<p></p>
		<img src="" alt="">
	</li>
</ul>

<!-- Contact -->



