

<div id ="about" class="about clearfix">
	<h2>About</h2>
	<%= image_tag("wisam-edit.jpg", :alt => "headshot", :class => "headshot") %>
	<div class="about-info">
		<!-- Paragraph about self being human -->
		<p>Hello! I'm a developer who's passionate about problem-solving and startups. I have 2 years of experience as an application developer, and I'm currently adding more tools to my toolkit at HackerYou. In my spare time, I love to play guitar, get involved in local meetups and explore the lovely cuisine this great city has to offer.</p>

		<ul>
		<li>
			<%=render 'layouts/music-icon'%>
			<h3>Classic Rock</h3>
		</li>
			<li>
				<%= link_to image_tag("hand.png", alt: "onePageWebsite", :class=>'icon')%>
				<h3>Lefty</h3>
			</li>
			<li>
				<%= link_to image_tag("left-guitar.png", alt: "onePageWebsite", :class=>'icon')%>
				<h3>Guitar player</h3>
				</li>
			<li>
				<%=render 'layouts/dog-icon'%>
				<h3>Dog Lover</h3>
			</li>
			<li>
				<%=render 'layouts/book-icon'%>
				<h3>Book reader</h3>
			</li>


		</ul>
	</div>
</div>

<!-- Skills section -->
	<div id="skills" class="skills">
	<ul>
		<li class="big-circle">
			<h2>Skills</h2>
			<%=render 'layouts/svgLarge' %>
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
			<div class="line4"></div>

			<ul>
				<li class="med-circle1">
					<h3>Frontend</h3>
					<%=render 'layouts/svgMedium'%>
					<ul>
						<li class="small-circle1">
							<h3>HTML</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line5"></div>
						</li>
						<li class="small-circle2">
							<h3>CSS/SASS</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line6"></div>
						</li>
							<li class="small-circle3">
								<h3>JavaScript</h3>
								<%=render 'layouts/svgSmall' %>
								<div class="line7"></div>
						</li>
					</ul>
				</li>

				<li class="med-circle2">
					<h3>Backend</h3>
					<%=render 'layouts/svgMedium'%>
					<ul>
						<li class="small-circle4">
							<h3>Java</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line8"></div>
						</li>
						<li class="small-circle5">
							<h3>Python</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line9"></div>
						</li>
						<li class="small-circle6">
							<h3>NodeJs</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line10"></div>
						</li>
					</ul>
				</li>
				<li class="med-circle3">
					<h3>Database</h3>
					<%=render 'layouts/svgMedium'%>
					<div class="line11"></div>
					<ul>
						<li class="small-circle7">
							<h3>MongoDB</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line12"></div>
						</li>
						<li class="small-circle8">
							<h3>SQL</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line13"></div>
						</li>
					</ul>
				</li>
				<li class="med-circle4">
					<h3>Tools</h3>
					<%=render 'layouts/svgMedium'%>
					<div class="line14"></div>
					<ul>
						<li class="small-circle9">
							<h3>Bower</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line15"></div>
						</li>
						<li class="small-circle10">
							<h3>Yeoman</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line16"></div>
						</li>
						<li class="small-circle11">
							<h3>Grunt</h3>
							<%=render 'layouts/svgSmall' %>
							<div class="line17"></div>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>

<!-- Portfolio Section -->
<div id="portfolio" class="portfolio clearfix">
<h2>Portfolio</h2>
<ul class="clearfix">
		<!--<li class="item">
			<%= link_to image_tag("spinThatTrack.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wisamzaghal.herokuapp.com'%>
			<div class="info">
				<h3>One Page Website</h3>
				<ul class="tags">
					<li>HTML</li>
					<li>CSS</li>
				</ul>
			</div>
		</li> -->
		<!--<li class="item">
			<%= link_to image_tag("spinThatTrack.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wisamzaghal.herokuapp.com'%>
			<div class="info">
				<h3>Movie Word Replacer</h3>
				<ul class="tags">
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Yeoman</li>
					<li>Grunt</li>
					<li>Bower</li>
				</ul>
			</div>
		</li> -->
		<li class="item">
			<%= link_to image_tag("musalicious.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wzaghal.github.io/musicQuiz'%>
			<div class="info">
				<h3>Album Player</h3>
				<ul class="tags">
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Yeoman</li>
					<li>Grunt</li>
					<li>Bower</li>
				</ul>
			</div>
		</li>
		<li class="item">
			<%= link_to image_tag("titleReplacer.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wzaghal.github.io/movieWordReplacer'%>
			<div class="info">
				<h3>API Forms</h3>
				<ul class="tags">
					<li>NodeJs</li>
					<li>Express</li>
					<li>MongoDB</li>
				</ul>
			</div>
		</li>
		<li class="item">
			<%= link_to image_tag("spinThatTrackTitle.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://www.mmcfadyen.ca/spinThatTrack/'%>
			<div class="info">
				<h3>API Forms</h3>
				<ul class="tags">
					<li>HTML</li>
					<li>SASS</li>
					<li>JavaScript</li>
					<li>Yeoman</li>
					<li>Grunt</li>
					<li>Bower</li>
				</ul>
			</div>
		</li>
		<!--<li class="item">
			<%= link_to image_tag("spinThatTrack.png", alt: "onePageWebsite", :class=>'screen-shot'), 'http://wisamzaghal.herokuapp.com'%>
			<div class="info">
				<h3>Billboard Project</h3>
				<ul class="tags">
					<li>Python</li>
				</ul>
			</div>
		</li>-->
	</ul>
</div>
<!--<button>Resume</button>-->

<!-- Mentor/ Competitions -->
<div id="other-work clearfix" class="other-work clearfix">
	<ul>
		<li>
			<%= image_tag("swto.png", :alt => "swto", :class => "swto") %>
		</li>
		<li><%= image_tag("battlehack.png", :alt => "swto", :class => "swto") %></li>
		<li><%= image_tag("llcode.png", :alt => "swto", :class => "swto") %></li>
		<!--<li><%= image_tag("meetup.png", :alt => "swto", :class => "swto") %></li> -->

	</ul>
</div>




