<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'http:////cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css', :media => 'screen' %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' %>
  <link href="http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<%= render 'layouts/nav' %>
	<%= render 'layouts/cover' %>
</header>
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
